@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

:root {
  --bg-color: #e0e5ec;
  --text-color: #333;
  --accent-color: #0075e2;
  --shadow-light: #ffffff;
  --shadow-dark: #a3b1c6;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  padding: 20px;
  background: var(--bg-color);
  border-radius: 20px;
  box-shadow: 6px 6px 10px var(--shadow-dark),
    -6px -6px 10px var(--shadow-light);
}

nav a {
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  padding: 10px;
  transition: color 0.3s ease;
}

nav a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0075e2;
  transition: all 0.3s ease;
}

nav a:hover::after {
  width: 60%;
}

.search-container {
  position: relative;
}

input {
  height: 40px;
  width: 200px;
  background: var(--bg-color);
  color: var(--text-color);
  border: none;
  border-radius: 25px;
  padding-left: 20px;
  outline: none;
  box-shadow: inset 0px 0px 0px var(--shadow-dark),
    inset -0px -0px 0px var(--shadow-light);
  transition: box-shadow 0.3s ease;
}

input:focus,
input:hover {
  box-shadow: inset 5px 5px 5px var(--shadow-dark),
    inset -5px -5px 5px var(--shadow-light);
  outline: none;
}

.material-symbols-rounded {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--text-color);
}

.blog-posts {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  background: var(--bg-color);
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 6px 6px 10px var(--shadow-dark),
    -6px -6px 10px var(--shadow-light);
}

.post h2 {
  color: var(--accent-color);
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: var(--bg-color);
  color: var(--text-color);
  box-shadow: 6px 6px 10px var(--shadow-dark),
    -6px -6px 10px var(--shadow-light);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: var(--accent-color);
  color: #fff;
}
