@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --main-background-color: black;
  --main-text-color: white;
  --main-accent-color: hsl(204, 69%, 50%);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--main-background-color);
}

header {
  display: flex;
  justify-content: space-between;
}

header * {
  display: flex;
  margin: 30px;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}
